*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
  }
  body{
  display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1.5rem;
        letter-spacing: 0.02rem;
        line-height: 1.5;
  background-color: rgb(211, 239, 241);
  align-items: center;
  justify-content: center;
  }
.header{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  padding: 10px;
}
.header h4{
  color: rgba(0,0,0,0.6);
}
.App {
  
  display: flex-box;
  flex-direction: column;
  align-items: center;
  
}
/* Resume List styles*/

.app-btn{
  width:100%;
  background-color: rgb(140, 167, 218);
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.app-btn button{
  margin-right: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
 }

.demo-list-item {  
  margin: 1rem;
  color: darkslategrey;
  list-style-type:decimal;
 }
.demo-list-item button{
  margin: 1rem;
  width:10%;
  background-color: rgb(244, 252, 190);
  padding: 0.2rem;
  border-radius: 5px;
  border-color: rgba(0,0,0,0.6);
  
}
.app-btn button:hover, .demo-list-item button:hover{
  cursor: pointer;
  background-color: white;
}

/* View Resume styles */

.personal-details{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: center;
  background-color:lightcyan ;
  box-shadow:0px 5px #888888;
}

.about-me ,.education, .organization ,.projects ,.skills{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
  margin-left: 7rem; 
  box-shadow:0px 1px #a8a7a7;
}

/* Create Resume Styles */

.create-resume{
  margin: 2rem;
  margin-top: 1rem;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin-left: 4rem;
  word-spacing: 0.5rem;
  line-height: 3rem;
}

.btn__group{
  
  margin: 2rem;
  display: flex;
  flex-direction: row;
}
.btn__group button{
  width: auto;
  margin-right: 1rem;
  padding: 0.5rem;
  background-color: rgb(241, 184, 184);
  border: 1px solid grey;
}

.btn__group button:hover{
  cursor: pointer;
  background-color: rgb(241, 184, 184, 0.5);
}
  /*   Mobile Phones       */
@media all and (max-width: 850px){
    body{
      font-size: 1rem;
     
    }
    .about-me ,.education, .organization ,.projects ,.skills{
      margin-left: 3rem;
    }
  }